<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/ddaf42f6-50b3-46b3-8e7a-4b176e5dda43/resourceGroups/ToDoApiResourceGroup/providers/Microsoft.Web/sites/TodoApiDev</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://todoapidev.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>todoapidev.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TodoApiDev</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$TodoApiDev</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>